*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation style */
.nav-title{
font-style: normal;
font-weight: 800;
font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin:51px 226px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 35px;
}